#? Client
ALLOWED_ORIGINS="http://localhost:3829" #? The url for the web app

#* --- README.md ---

#? Clerk
CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""

#? ngrok
NGROK_URL=""

#? AI
GOOGLE_GENERATIVE_AI_API_KEY=""
