#? Env
NODE_ENV='development'

#? Client
ALLOWED_ORIGINS="http://localhost:3829" #? The url for the web app

#? Auth
API_KEY="" #? openssl rand -base64 32

#* --- README.md ---

#? redis
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

#? Clerk
CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""

#? ngrok
NGROK_URL=""

#? AI
AGENT_PROVIDERS="google"

##? Google
GOOGLE_GENERATIVE_AI_API_KEY=""
AGENT_GOOGLE_KEY_PRIMARY=""
AGENT_GOOGLE_MODELS='{ "model": "gemini-2.5-flash", "rpm": 5, "rpd": 20 }' # |{ "model": "gemini-2.5-flash-lite", "rpm": 10, "rpd": 50 }

##? Langfuse
LANGFUSE_SECRET_KEY="sk-lf-..."
LANGFUSE_PUBLIC_KEY="pk-lf-..."
LANGFUSE_BASE_URL="https://cloud.langfuse.com"

##? Pinecone
PINECONE_API_KEY="pcsk_..."
PINECONE_INDEX_NAME="food-safety-index"
PINECONE_NAMESPACE="example-namespace"